.container {
    margin-top: 20px; 
    animation: fade 0.75s ease-in-out;
    -webkit-animation: slide 1s ease-in-out;
    padding: 20px;
    border: 1px solid lightgrey;
    background: white;
    border-radius: 6px;
    box-shadow: grey 0px 0px 10px;
}

@media screen and (max-width: 575px) {
    .container {
        margin-top: 0;
    }
}

/*Animations*/
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Print view*/
@media print {
    @page { margin: 0; }
    body { margin: 1.6cm; }
    .container { 
        max-width: none; 
        padding: 0; 
        margin: 0; 
        width: 100%;
        border: none;
        box-shadow: none;
    }
    .btn { display: none; }
}

.infoModal {
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    padding: 15px;
    height: auto;
    background-color: #fefefe;
    border: 1px solid #888;
    border-right: none;
    border-left: none;
    border-top: none;
}

.logoContainer {
    display: block;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}

.modal-show-enter {
    opacity: 0;
    top: -50%;
}

.modal-show-enter-active {
    opacity: 1;
    top: 0%;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.modal-show-leave {
    opacity: 1;
    top: 0%;
}

.modal-show-leave-active {
    opacity: 0;
    top: -50%;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}